@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  overflow: hidden;
}

@keyframes drawLine {
  to { stroke-dashoffset: 0; }
}

@keyframes drawPath {
  to { stroke-dashoffset: 0; }
}

@keyframes blink {
  0%, 100% { opacity: 0.6; }
  50% { opacity: 0; }
}